
body {
    background-color: black;
    display: flex;          
    justify-content: center; 
    align-items: center;  
    margin-top: 150px;
    
}

.container {
    width: 800px;
    height: 800px;
    background-color: beige;
    padding-top: 30px;
  
}

input {
    width: 600px;           
    padding: 15px;          
    font-size: 1.2rem;      
    border-radius: 8px;
}

.tarea-container {
  display: flex;             
  justify-content: space-between; 
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.btn-eliminar {
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px;
    display: none;
    
}

li:hover .btn-eliminar {
  display: inline-block;
}
